<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetalFest</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="main">
      <h1>Warm your blood with Metal.</h1>
      <p>Hey Metaheads, A big announcement for  you. After all the distructive moments and waiting we are Hosting a <span id="title">Metal Festible</span> for you on 9th December, 2023.</p>
    </div>
    <div>
      <h5>Are you joining with us ? </h5>
      <p> If yes ,</p>
      <div>
        <a href="reg.html">Register</a>
      </div>
    </div>
  </body>
</html>